* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: flex-start;
  padding: 30px;
}
.photo {
  width: 400px;
  height: 400px;
}
.main-photo {
  object-fit: cover;
  width: 100%;
  border-radius: 50%;
}
